<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">
                    <div class="text-lead h5">
                        Login
                    </div>
                </div>
                <div class="card-body">
                  <%= form_for :session, url: session_path do |form| %>
                  
                    <div class="form-group row">
                      <%= form.label :email, :class => 'col-md-3 col-form-label text-md-right' %>
                      <div class="col-md-9">
                        <%= form.text_field :email, type: 'email', :class => 'form-control' %>
                      </div>
                    </div>
                  
                    <div class="form-group row">
                      <%= form.label :password, :class => 'col-md-3 col-form-label text-md-right' %>
                      <div class="col-md-9">
                        <%= form.password_field :password, :class => 'form-control' %>
                    </div>
                  
                    <div class="form-group row mb-4">
                      <div class="col-md-8 offset-md-4">
                        <%= form.submit %>
                         <% if Clearance.configuration.allow_sign_up? %>
                          <%= link_to t(".sign_up"), sign_up_path %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
