<h1>Profile for Dr <%=  current_user.name %></h1>

<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Clinic Address</th>
        <th>Email</th>
        <th>Client's</th>
    </thead>
    <tbody>
        <td><%= current_user.id %></td>
        <td><%= current_user.name %></td>
        <td><%= current_user.clinicAddresss %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.patients.count %></td>
    </tbody>
</table>

