<h1>Dr Ross Kings Patients</h1>


<div>
    <%= link_to "New Patient", new_patient_path %>
</div>

<div class="row">
    <%= form_tag patients_path, method: :get do%>
        <p>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag "Search", name: nil %>
        </p>
    <% end %>
    <div class="col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Ailment</th>
                <th>Apointment</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <% @patients.each do |patient| %>
                    <tr>
                        <td><%= link_to patient.name, patient_path(patient) %></td>
                        <td><%= patient.age %></td>
                        <td><%= patient.phone %></td>
                        <td><%= patient.ailment %></td>
                        <td><%= patient.apointment %></td>
                        <td><%= patient.status %></td>
                        <td><%= link_to "Back", patients_path %></td>
                        <td><%= link_to "Edit", edit_patient_path(patient)%></td>
                        <td><%= link_to( "Delete", patient_path(patient), data: {confirm: "Are you sure you want to delete: #{patient.name}?"},method: :delete) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>