<div class="container-fluid">
    <div class="text-lead text-center">
        <h1 class="mb-3">Dr Ross Kings Patients</h1>
        <%= link_to "New Patient", new_patient_path %>
        <%= form_tag patients_path, method: :get do%>
            <p>
                <%= text_field_tag :query, params[:query], class: "mt-3" %>
                <%= submit_tag "Search", name: nil,class: "edit-button" %>
            </p>
        <% end %>
    </div>

    <div class="col-md-12">
        <table class="table patient-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Ailment</th>
                <th>Apointment</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <% @patients.each do |patient| %>
                    <tr>
                        <td><%= link_to patient.name, patient_path(patient) %></td>
                        <td><%= patient.age %></td>
                        <td><%= patient.phone %></td>
                        <td><%= patient.ailment %></td>
                        <td><%= patient.apointment %></td>
                        <td><%= patient.status %></td>
                        <td><%= link_to "Back", patients_path %></td>
                        <td><%= link_to "Edit", edit_patient_path(patient)%></td>
                        <td><%= link_to( "Delete", patient_path(patient), data: {confirm: "Are you sure you want to delete: #{patient.name}?"},method: :delete) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
</div>