	 
<div class="container-fluid">
    <div class="text-lead text-center">
        <h1 class="mb-3">Dr <%= current_user.name %>'s patients</h1>
        <%= link_to "New Patient", new_patient_path %>

            <%= search_form_for @search do |f| %>
                <div class="field">
                    <%= f.label :name_cont, "Name" %>
                    <%= f.text_field :name_cont %>
                </div>
                <div class="field">
                    <%= f.label :apointment_cont, "Apointment" %>
                    <%= f.date_field(:apointment_cont) %>
                    
                </div>
                  <div><%= f.submit %></div>
            <% end %>
    </div>

    <div class="col-md-12">
        <% if @patients.count ==0 %>
				<center><h3>There are no patients</h3></center>
		<% else %>
            <table class="table patient-list sortable" id="patientTable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>Ailment</th>
                    <th>Apointment</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% @patients.each do |patient| %>
                        <tr>
                            <td><%= link_to patient.name, patient_path(patient) %></td>
                            <td><%= patient.age %></td>
                            <td><%= patient.phone %></td>
                            <td><%= patient.ailment %></td>
                            <td><%= patient.apointment %></td>
                            <td><%= patient.status %></td>
                            <td><%= link_to "Back", patients_path %></td>
                            <td><%= link_to "Edit", edit_patient_path(patient)%></td>
                            <td><%= link_to( "Delete", patient_path(patient), data: {confirm: "Are you sure you want to delete: #{patient.name}?"},method: :delete) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <a href="/reporting">Data Charts</a>
        <% end %>
    </div>
    

</div>
</div>
