<% if @errors.present? %>
    <div class="errors">
        <ul>
            <%= @errors.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= simple_form_for([@patient, @patient.reports.build]) do |f| %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Create new report/div>
                    <div class="card-body">
                        <div class="form-group row">
                            <%= f.label :date, :class => 'col-md-3 col-form-label text-md-right' %>
                            <%= date_field(:report, :date, :class => 'col-md-4') %>
                        </div>
                         <div class="form-group row">
                            <%= f.label :title, :class => 'col-md-3 col-form-label text-md-right' %>
                            <%= f.text_field :title, :class => 'col-md-4' %>
                        </div>
                        <div class="form-group row">
                            <%= f.label :report, :class => 'col-md-3 col-form-label text-md-right' %>
                            <%= f.text_area :report, :class => 'col-md-6' %>
                        </div>
            	        <center><%= f.button :submit, :class => 'button_one'  %></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
