<% if @errors.present? %>
    <div class="errors">
        <ul>
            <%= @errors.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= simple_form_for([@patient, @patient.reports.build]) do |f| %>
    <%= f.label :date %>
    <%= date_field(:report, :date) %>
	<%= f.input :report, :input_html => {:style => 'height:320px;'}%>
	<center><%= f.button :submit, :class => 'button_one'  %></center>
<% end %>
